<h2>Login Form</h2>

<div class="row">
  <form id="form" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)] = 'usuario.username' placeholder="Digite seu login" id="login" name="username" type="text" class="validate" required>
        <label for="login">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)] = 'usuario.password' placeholder="Digite sua senha " id="password" name="password" type="password" class="validate" required>
        <label for="password">Password</label>
      </div>
    </div>
  </form>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    form="form"
    name="action"
    (click)="login()">Login
  </button>
</div>
